
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>徐昌茂的个人网站</title>

	<meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
	<meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

	<!--[if lt IE 9]>
	<meta http-equiv="refresh" content="0;ie.html" />
	<![endif]-->

	<link rel="shortcut icon" href="favicon.ico">
	<link href="css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
	<link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
	<link href="css/animate.min.css" rel="stylesheet">
	<link href="css/style.min.css?v=4.1.0" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Fancybox <small>http://fancybox.net/</small></h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
						<a class="dropdown-toggle" data-toggle="dropdown" href="basic_gallery.html#">
							<i class="fa fa-wrench"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li><a href="basic_gallery.html#">选项1</a>
							</li>
							<li><a href="basic_gallery.html#">选项2</a>
							</li>
						</ul>
						<a class="close-link">
							<i class="fa fa-times"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">

					<a class="fancybox" href="img/1.jpg" title="图片1">
						<img alt="image" src="__PUBLIC__img/1.jpg">
					</a>
					<a class="fancybox" href="img/1.jpg" title="图片2">
						<img alt="image" src="__PUBLIC__img/1.jpg">
					</a>
					<a class="fancybox" href="img/1.jpg" title="图片3">
						<img alt="image" src="__PUBLIC__img/1.jpg">
					</a>
					<a class="fancybox" href="img/1.jpg" title="图片4">
						<img alt="image" src="__PUBLIC__img/1.jpg">
					</a>
					<a class="fancybox" href="img/1.jpg" title="图片5">
						<img alt="image" src="__PUBLIC__img/1.jpg">
					</a>
					<a class="fancybox" href="img/1.jpg" title="图片6">
						<img alt="image" src="__PUBLIC__img/1.jpg">
					</a>
					<a class="fancybox" href="img/1.jpg" title="图片7">
						<img alt="image" src="__PUBLIC__img/1.jpg">
					</a>
					<a class="fancybox" href="img/1.jpg" title="图片8">
						<img alt="image" src="__PUBLIC__img/1.jpg">
					</a>
					<a class="fancybox" href="img/1.jpg" title="图片9">
						<img alt="image" src="__PUBLIC__img/1.jpg">
					</a>
					<a class="fancybox" href="img/1.jpg" title="图片10">
						<img alt="image" src="__PUBLIC__img/1.jpg">
					</a>
					<a class="fancybox" href="img/1.jpg" title="图片11">
						<img alt="image" src="__PUBLIC__img/1.jpg">
					</a>
					<a class="fancybox" href="img/1.jpg" title="图片12">
						<img alt="image" src="__PUBLIC__img/1.jpg">
					</a>
					<a class="fancybox" href="img/1.jpg" title="图片13">
						<img alt="image" src="__PUBLIC__img/1.jpg">
					</a>
					<a class="fancybox" href="img/1.jpg" title="图片14">
						<img alt="image" src="__PUBLIC__img/1.jpg">
					</a>
					<a class="fancybox" href="img/1.jpg" title="图片15">
						<img alt="image" src="__PUBLIC__img/1.jpg">
					</a>
					<a class="fancybox" href="img/1.jpg" title="图片16">
						<img alt="image" src="__PUBLIC__img/1.jpg">
					</a>


				</div>
			</div>
		</div>

	</div>
</div>

<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.6"></script>
<script src="js/jquery.metisMenu.js"></script>
<script src="js/jquery.slimscroll.min.js"></script>
<script src="js/layer.min.js"></script>
<script src="js/hplus.min.js?v=4.1.0"></script>
<script type="text/javascript" src="js/contabs.min.js"></script>
<script src="js/pace.min.js"></script>
</body>

</html>
